.manage-actions {
  margin-bottom: 3rem;
}

.manage--create-btns {
  display: flex;
}

.save-button {
  margin-left: 5px;
}

.delete-container {
  text-align: right;
}

.delete-container .save-button {
  margin-right: 0.5rem;
}

.round-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.round-header .save-button {
  margin-left: 0px;
  max-width: 5rem;
}
.download-final-btn {
  margin-top: 1rem;
}

.select-previous-race {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .manage-actions {
    flex-direction: column;
  }

  .manage-actions .ant-col {
    margin: 1rem 0;
  }

  .delete-container {
    text-align: left;
  }
}
